@import url("http://fonts.cdnfonts.com/css/evil-empire");
@import url("http://fonts.cdnfonts.com/css/euclid-circular-b");
button:focus {
  outline: none;
  border: none;
  box-shadow: none; }

body {
  background: #1f0f0f; }

body {
  overflow-x: hidden; }

h1 {
  color: red;
  font-family: "Evil Empire", sans-serif; }

* {
  font-family: "Evil Empire", sans-serif; }

a.nav-link {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Evil Empire", sans-serif;
  margin-left: 15px;
  display: inline-block; }
  a.nav-link:hover {
    color: #fff;
    transition: 0.3s; }

.fistSection {
  background: url("../imgs/bg11.svg");
  min-height: 100vh;
  background-position: 35% 15%;
  background-repeat: no-repeat; }
  .fistSection .container {
    padding-top: 100px; }
  .fistSection h2 {
    font-size: 76px;
    font-weight: 400;
    color: #fff; }
    .fistSection h2 span {
      color: #c58510; }
  .fistSection p {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 40px;
    margin-top: 30px;
    font-family: "Euclid Circular B", sans-serif; }

.sectionTwo {
  background: url("../imgs/bg1.png");
  min-height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  padding-top: 90px;
  position: relative; }
  .sectionTwo p {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400; }
  .sectionTwo h3 {
    font-size: 72px;
    margin-top: 60px;
    position: relative; }
    .sectionTwo h3:before {
      position: absolute;
      height: 8px;
      width: 110px;
      background: #fff;
      bottom: -20px;
      left: 0px;
      content: ""; }

.roadMap {
  position: relative;
  min-height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center; }
  .roadMap .bgImg {
    position: absolute;
    right: -6%;
    z-index: 1;
    width: 45vw; }
  .roadMap h3 {
    font-size: 72px;
    margin-top: 60px;
    text-align: center;
    position: relative;
    margin-top: 0;
    margin-bottom: 50px; }
  .roadMap-card {
    background: linear-gradient(#fbef7f, #c3780a);
    border-radius: 5px;
    height: 303px;
    background-size: 100% 100%;
    padding: 10px;
    position: relative; }
    .roadMap-card:before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 36px;
      width: 168px;
      background: url("../imgs/cardIMg.svg");
      background-size: 100%;
      top: -10px; }
    .roadMap-card > div {
      background: linear-gradient(#915e3f, #6a473c);
      border-radius: 5px;
      padding: 5px;
      height: 100%;
      padding: 30px; }
    .roadMap-card h5 {
      font-size: 26px;
      margin-bottom: 20px; }
    .roadMap-card .listItem {
      font-size: 18px;
      margin-bottom: 8px;
      display: flex;
      align-items: center; }
      .roadMap-card .listItem img {
        display: inline-block;
        margin-right: 10px;
        width: 18px; }

.presale {
  min-height: 100vh;
  padding-top: 180px;
  background-repeat: no-repeat;
  background-position: 30%; }
  .presale_card {
    background: url("../imgs/presaleImg.svg");
    width: 100px;
    background-size: cover;
    width: 226px;
    height: 116px;
    background-size: 100%;
    margin: 14px 10px;
    padding: 20px; }
    .presale_card .value {
      font-size: 30px;
      color: #fff; }
    .presale_card .label {
      font-size: 16px;
      color: #c58510; }
  .presale h3 {
    font-size: 62px;
    padding-top: 90px;
    text-align: center;
    position: relative;
    margin-top: 80px;
    margin-top: 0;
    margin-bottom: 50px;
    color: #fff;
    text-align: left; }
  .presale p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    font-weight: 400;
    font-family: "Euclid Circular B", sans-serif; }

.sliderSection h3 {
  font-size: 62px;
  padding-top: 90px;
  text-align: center;
  position: relative;
  margin-top: 80px;
  margin-top: 0;
  margin-bottom: 50px;
  color: #fff;
  text-align: left; }

#timer {
  font-size: 32px;
  flex-direction: column;
  margin-top: 60px; }
  #timer .timerLabels {
    display: flex;
    color: #fff;
    font-size: 21px;
    text-transform: uppercase;
    margin-top: 10px; }
    #timer .timerLabels > div {
      width: 70px;
      margin: 0 10px;
      text-align: center; }
  #timer .dot {
    color: #c58510;
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center; }
  #timer .timerWrapper {
    display: flex; }
    #timer .timerWrapper > div {
      background: rgba(255, 255, 255, 0.1);
      height: 60px;
      color: #c58510;
      margin: 0px 10px;
      border-radius: 20px;
      min-width: 64px;
      padding: 0 16px;
      display: flex;
      align-items: center;
      justify-content: center; }

.sliderSection {
  padding-top: 120px;
  min-height: 100vh; }
  .sliderSection h3 {
    padding-left: 20px; }
  .sliderSection .item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; }

.sliderItemWrapper {
  width: 1120px;
  background-image: linear-gradient(#fbef7f, #c3780a);
  border-radius: 10px;
  position: relative; }
  .sliderItemWrapper .owl-nav {
    position: absolute; }
  .sliderItemWrapper:after {
    background: url("../imgs/topRight.svg");
    position: absolute;
    right: -10px;
    top: -10px;
    content: "";
    background-size: 100%;
    width: 81px;
    height: 76px; }
  .sliderItemWrapper::before {
    background: url("../imgs/bottomleft.svg");
    position: absolute;
    left: -10px;
    bottom: -10px;
    content: "";
    background-size: 100%;
    width: 81px;
    height: 76px; }
  .sliderItemWrapper > img {
    padding: 14px;
    width: 100%;
    height: 100%; }

.sliderSection_owl .owl-nav {
  position: absolute;
  top: -130px;
  right: 0; }
  .sliderSection_owl .owl-nav button:active {
    outline: none;
    border: none; }
  .sliderSection_owl .owl-nav svg {
    width: 60px;
    transition: 0.2s; }
    .sliderSection_owl .owl-nav svg:hover {
      fill: #e3bb4c; }
    .sliderSection_owl .owl-nav svg.right {
      transform: rotate(180deg);
      margin-left: 20px; }

.tokenomics {
  padding-top: 120px;
  min-height: 60vh; }
  .tokenomics h3 {
    font-size: 62px;
    padding-top: 90px;
    text-align: center;
    position: relative;
    margin-top: 80px;
    margin-top: 0;
    margin-bottom: 50px;
    color: #fff;
    text-align: left; }

.aboutUs {
  background: #1f0f0f;
  padding-top: 120px;
  padding-bottom: 137px; }
  .aboutUs h3 {
    font-size: 62px;
    padding-top: 90px;
    text-align: center;
    position: relative;
    margin-top: 80px;
    margin-top: 0;
    margin-bottom: 50px;
    color: #fff;
    text-align: left; }
  .aboutUs .item {
    padding-top: 20px; }
    .aboutUs .item h5 {
      color: #fff;
      font-size: 24px;
      margin-top: 19px;
      font-weight: 400;
      margin-bottom: 0px; }
    .aboutUs .item p {
      color: #c58510;
      font-weight: 400; }
  .aboutUs .aboutUs_sliderItemWrapper {
    background-image: linear-gradient(#fbef7f, #c3780a);
    border-radius: 8px;
    position: relative; }
    .aboutUs .aboutUs_sliderItemWrapper::before {
      content: "";
      position: absolute;
      left: 50%;
      top: -6px;
      background: url("../imgs/aboutSlider.svg");
      background-size: 100%;
      transform: translateX(-50%);
      height: 30px;
      width: 131px; }
    .aboutUs .aboutUs_sliderItemWrapper img {
      padding: 10px; }

.partners {
  background: #1f0f0f;
  padding-top: 120px;
  padding-bottom: 240px;
  position: relative; }
  .partners .bgPrtner {
    position: absolute;
    right: -6%;
    top: -20%;
    width: 35vw; }
  .partners h3 {
    font-size: 62px;
    padding-top: 90px;
    text-align: center;
    position: relative;
    margin-top: 80px;
    margin-top: 0;
    margin-bottom: 50px;
    color: #fff;
    text-align: left; }

footer {
  background: #1f0f0f;
  padding-bottom: 100px; }
  footer label {
    color: #fff;
    font-size: 29px; }
  footer .footerLinks {
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    margin-top: 40px;
    padding-top: 25px;
    display: flex;
    justify-content: space-between; }
    footer .footerLinks a,
    footer .footerLinks span {
      color: #fff;
      font-family: "Euclid Circular B", sans-serif;
      font-size: 17px;
      margin-right: 30px; }
    footer .footerLinks span {
      margin-right: 0; }
  footer .sub input {
    background-color: rgba(197, 133, 16, 0.1);
    height: 60px;
    border: none;
    padding-left: 24px;
    font-family: "Euclid Circular B", sans-serif;
    display: inline-block;
    max-width: 300px;
    width: 100%;
    height: 54px;
    margin-right: 20px;
    color: #fff;
    border-radius: 2px; }
  footer .sub form {
    display: flex;
    align-items: center;
    margin-top: 20px; }
    footer .sub form svg {
      width: 241px;
      cursor: pointer;
      transform: translateY(3px); }

.socialList {
  margin-top: 30px; }
  .socialList a {
    display: inline-block;
    margin-right: 25px; }
    .socialList a > svg {
      height: 48px; }

.menuWrapper {
  position: fixed;
  z-index: 10;
  width: 100%;
  left: 0px;
  z-index: 3;
  top: 0px; }
  .menuWrapper.scroll {
    background: #1f0f0f;
    transition: 0.3s; }
    .menuWrapper.scroll .navbar-brand img {
      transition: 0.3s;
      max-width: 90px !important; }
  .menuWrapper .navbar-brand img {
    transition: 0.3s; }
  .menuWrapper .navbar {
    padding-top: 0px !important;
    padding-bottom: 0px !important; }

@media only screen and (max-width: 1184px) {
  .fistSection h2 {
    font-size: 58px; } }

@media only screen and (max-width: 975px) {
  .fistSection h2 {
    font-size: 42px; }
  a.nav-link {
    font-size: 19px; }
  .sectionTwo p {
    font-size: 16px; }
  .sectionTwo h3 {
    font-size: 58px; }
  .roadMap .container {
    max-width: 920px !important; }
  .roadMap-card .listItem {
    font-size: 13px;
    margin-bottom: 5px; }
  #timer .timerLabels {
    font-size: 16px; }
  #timer {
    align-items: center; }
  .sliderItemWrapper:after,
  .sliderItemWrapper::before {
    width: 47px;
    height: 43px; }
  .presale_cards {
    max-width: 500px;
    margin: auto; }
  .partners {
    padding-top: 20px; } }

@media only screen and (max-width: 779px) {
  .menuWrapper {
    background: #492626 !important; }
  .roadMap-card {
    margin-bottom: 30px; }
  .navbar-collapse.show .bottomLines {
    background-image: linear-gradient(#fbef7f, #c3780a);
    height: 50px;
    width: calc(100% + 30px);
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: -15px;
    margin-right: -15px; }
    .navbar-collapse.show .bottomLines::before {
      content: "";
      left: 0px;
      bottom: 0px;
      position: absolute;
      width: 128px;
      height: 113px;
      background: url("../imgs/menuImg.svg"); }
    .navbar-collapse.show .bottomLines::after {
      content: "";
      right: -3px;
      bottom: 0px;
      position: absolute;
      width: 128px;
      height: 113px;
      background: url("../imgs/menuimg2.svg"); }
  .navbar-nav {
    padding-bottom: 67px; }
  .OurGames .owl-carousel img.slider-img {
    width: 90%; }
  footer .sub form {
    flex-direction: column; }
    footer .sub form input {
      margin-bottom: 15px;
      margin-right: 0; }
  footer label {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
    display: block; }
  .footerLinks {
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .footerLinks > div {
      margin-bottom: 15px; }
      .footerLinks > div a {
        display: block; }
  footer {
    padding-bottom: 40px; }
  h3 {
    font-size: 40px !important;
    text-align: center !important; }
  .aboutUs {
    padding-top: 20px; }
  .partners {
    padding-top: 20px; }
  .tokenomics {
    padding-top: 30px; }
  .timerBlock {
    display: flex;
    align-items: center;
    flex-direction: column; }
  .knitSvg {
    max-width: 100% !important; }
  .fistSection h2 {
    font-size: 55px;
    text-align: center; }
  a.nav-link {
    font-size: 22px;
    padding-top: 0; }
  .navbar-nav {
    text-align: center; }
  .sectionTwo h3 {
    margin-bottom: 40px; }
  .sectionTwo h3:before {
    display: none; }
  .sliderSection_owl .owl-nav svg {
    width: 40px;
    transition: 0.2s; }
  .sliderSection_owl .owl-nav {
    position: absolute;
    top: -66px;
    right: 0; }
  section {
    min-height: unset !important; }
  .roadMap-card .listItem {
    font-size: 16px;
    margin-bottom: 6px; }
  .roadMap-card {
    height: unset; } }

@media only screen and (max-width: 479px) {
  .roadMap-card {
    padding: 0; }
    .roadMap-card > div {
      padding: 30px; }
  .roadMap-card h5 {
    font-size: 18px;
    margin-bottom: 7px;
    margin-top: 30px; } }

@media only screen and (min-width: 1079px) {
  [data-aos="example-anim3"] {
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform: translateX(100%);
    opacity: 0;
    animation-timing-function: ease-out; }
    [data-aos="example-anim3"].dely2 {
      animation-delay: 0.2s; }
    [data-aos="example-anim3"].aos-animate {
      animation-timing-function: ease-out;
      animation-name: comesRight; }
  [data-aos="animanim"] {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform: rotate(-8deg) translateY(60px);
    animation-timing-function: ease-out; }
    [data-aos="animanim"].dely2 {
      animation-delay: 0.2s; }
    [data-aos="animanim"].aos-animate {
      animation-timing-function: ease-out;
      animation-name: animanim; }
  [data-aos="comesLeft"] {
    animation-duration: 1s;
    transform: translateX(-100%);
    opacity: 0;
    animation-fill-mode: forwards; }
    [data-aos="comesLeft"].dely2 {
      animation-delay: 0.2s; }
    [data-aos="comesLeft"].titleText::before {
      bottom: -92px;
      opacity: 0; }
    [data-aos="comesLeft"].aos-animate {
      animation-name: comesLeft;
      animation-timing-function: ease-out; }
      [data-aos="comesLeft"].aos-animate.titleText::before {
        animation-name: bottomLine;
        animation-duration: 0.6s;
        animation-delay: 0.4s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out; }
  [data-aos="bottomToTop"] {
    animation-duration: 1s;
    transform: translate(10%, 100%);
    opacity: 0;
    animation-fill-mode: forwards; }
    [data-aos="bottomToTop"].aos-animate {
      animation-name: bottomToTop;
      animation-timing-function: ease-out; }
  [data-aos="bottomToTop2"] {
    animation-duration: 1s;
    transform: translate(10%, 100%);
    opacity: 0;
    animation-fill-mode: forwards; }
    [data-aos="bottomToTop2"].aos-animate {
      animation-name: bottomToTop2;
      animation-timing-function: ease-out; }
  [data-aos="bottomToTop3"] {
    animation-duration: 1s;
    transform: translate(20%, 20%);
    opacity: 0;
    animation-fill-mode: forwards; }
    [data-aos="bottomToTop3"].aos-animate {
      animation-name: bottomToTop3;
      animation-timing-function: ease-out; }
  [data-aos="bottomToTop4"] {
    animation-duration: 1s;
    transform: translate(-20%, 20%);
    opacity: 0;
    animation-fill-mode: forwards; }
    [data-aos="bottomToTop4"].aos-animate {
      animation-name: bottomToTop4;
      animation-timing-function: ease-out; }
  [data-aos="bottomToTop2"] {
    animation-duration: 1s;
    transform: translate(20%, 10%);
    opacity: 0;
    animation-fill-mode: forwards; }
    [data-aos="bottomToTop2"].aos-animate {
      animation-name: bottomToTop2;
      animation-timing-function: ease-out; }
  [data-aos="teamAnimatin"] .owl-stage-outer {
    animation-fill-mode: forwards;
    transform: translate(-10%, 20%);
    animation-delay: 0.2s; }
  [data-aos="teamAnimatin"].aos-animate .owl-stage-outer {
    animation-duration: 1s;
    animation-name: bottomToTop;
    animation-timing-function: ease-out; }
  [data-aos="partnersAnimate"] .owl-stage-outer {
    animation-fill-mode: forwards;
    transform: translate(-100%);
    opacity: 0; }
  [data-aos="partnersAnimate"].aos-animate .owl-stage-outer {
    animation-duration: 1s;
    animation-name: comesLeft;
    animation-timing-function: ease-out; }
  [data-aos="designAnimate"] .owl-nav {
    animation-fill-mode: forwards;
    transform: translate(10%, 20%); }
  [data-aos="designAnimate"] .owl-stage-outer {
    animation-fill-mode: forwards;
    transform: translate(-10%, 20%); }
  [data-aos="designAnimate"].aos-animate .owl-nav {
    animation-duration: 1s;
    animation-name: bottomToTop3;
    animation-timing-function: ease-out; }
  [data-aos="designAnimate"].aos-animate .owl-stage-outer {
    animation-duration: 1s;
    animation-name: bottomToTop4;
    animation-timing-function: ease-out; }
  [data-aos="socialAnimation"] {
    animation-duration: 0.6s;
    transform: scale(0) rotate(90deg);
    animation-delay: 0.4s;
    animation-fill-mode: forwards; }
    [data-aos="socialAnimation"].aos-animate {
      animation-name: socialAnimation;
      animation-timing-function: ease-out; } }

@keyframes bottomLine {
  0% {
    bottom: -100px;
    left: -30px;
    opacity: 0; }
  100% {
    bottom: -20px;
    left: 0px;
    opacity: 1; } }

@keyframes comesLeft {
  from {
    transform: translateX(-100%);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }

@keyframes comesRight {
  from {
    transform: translateX(100%);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }

@keyframes socialAnimation {
  from {
    transform: scale(0) rotate(90deg); }
  to {
    transform: scale(1) rotate(0deg); } }

@keyframes bottomToTop {
  from {
    transform: translate(0%, 100%);
    opacity: 0; }
  to {
    transform: translate(0);
    opacity: 1; } }

@keyframes bottomToTop2 {
  from {
    transform: translate(0%, 10%);
    opacity: 0; }
  to {
    transform: translate(0);
    opacity: 1; } }

@keyframes bottomToTop3 {
  from {
    transform: translate(10%, 20%);
    opacity: 0; }
  to {
    transform: translate(0);
    opacity: 1; } }

@keyframes bottomToTop4 {
  from {
    transform: translate(-10%, 20%);
    opacity: 0; }
  to {
    transform: translate(0);
    opacity: 1; } }

@keyframes animanim {
  from {
    transform: rotate(-8deg) translateY(60px); }
  to {
    transform: rotate(0deg) translateY(0px); } }
